@use '../abstracts' as *;

.sidebar {
  background-color: $blue;
  display: inline-block;
  width: 200px;
  height: 100vh;

  &__logo {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;

    figure {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@include mobile-portrait {
  .sidebar {
    width: 100%;
    height: 70px;

    &__logo {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
