@import '~styles/colors';

.login-banner {
  padding: 20px 30px;

  &__title {
    color: $white;
    margin-left: 40px;
    font-size: 12px;
  }

  &__copyright {
    font-size: 9px;
    color: $white;
    text-align: center;
  }
}
