.sidebar {
    display: inline-block;
    width: 300px;
    height: 100vh;
    background-color: #bae4e4;

    &__list {
        margin: 0;
        padding: 0;

        &__item {
            padding: 10px;
            background-color: #eaeaea;
        }
    }
}
